@model IEnumerable<CourseUdemyNetMvc.Models.ApplicationType> 

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Application Type List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="ApplicationType" asp-action="Create" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i> New Application Type
            </a>
        </div>
    </div>
    
    @if (Model.Any())
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <caption>This table describes the Application Type</caption>
            <thead>
                <tr>
                    <th id="idTitleApplicationTypeName" class="text-center">Application Type Name</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th id="idRowApplicationTypeName" class="text-center" style="width: 50%">@item.Name</th>
                    <th id="idRowOptions" class="text-center" style="width: 50%">
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="ApplicationType" asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">
                                <i class="fa-solid fa-pen-to-square"></i> Update
                            </a>&nbsp;&nbsp;&nbsp;
                            <a asp-controller="ApplicationType" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="fa-solid fa-trash"></i> Delete
                            </a>
                        </div>
                    </th>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No registers from Application type</p>
    }
</div>